@{
    ViewData["Title"] = "Home";
}



<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid text-center bg-primary text-white">
        <div class="container">
            <h1 class="display-4">Welcome to Staff Management System!</h1>
            <p class="lead">Manage your staff efficiently with our platform.</p>
            <a href="/Staff/Create" class="btn btn-sm mb-3 btn-light">Create Staff Profile</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://th.bing.com/th/id/OIP.IH7V3bSReNbJK5eUx8nXNAHaE8?w=927&h=618&rs=1&pid=ImgDetMain" class="card-img-top" alt="Image">
                <div class="card-body">
                    <h5 class="card-title">Employee Management</h5>
                    <p class="card-text">Efficiently manage employee data, including personal details, roles, and schedules.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://th.bing.com/th/id/OIP.grieTn1ZXnD9YbDZ6JLbTwHaGw?w=850&h=775&rs=1&pid=ImgDetMain" class="card-img-top" alt="Image">
                <div class="card-body">
                    <h5 class="card-title">Attendance Tracking</h5>
                    <p class="card-text">Track employee attendance and generate attendance reports seamlessly.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src=https://th.bing.com/th/id/OIP.L--ejAMtEYclobboenz2FgHaE8?rs =1&pid =ImgDetMain" class="card-img-top" alt="Image">
                <div class="card-body">
                    <h5 class="card-title">Performance Evaluation</h5>
                    <p class="card-text">Conduct performance evaluations and set goals for staff members.</p>
                </div>
            </div>
        </div>
    </div>
</div>
